#
# Copyright (C) 2023-2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    disabled
    class early_hal
    user nfc
    group nfc

service qti_esepowermanager_service_1_1 /vendor/bin/hw/vendor.qti.esepowermanager@1.1-service
    override
    disabled
    class hal
    user system
    group nfc system

service secureelement-hal_1_2 /vendor/bin/hw/vendor.qti.secure_element@1.2-service
    override
    disabled
    class hal
    user system
    group system

# Redmi Note 11 Pro 5G (Global)
on early-init && property:ro.boot.board_id=S88006AA1
    setprop bluetooth.device.default_name "Redmi Note 11 Pro 5G"
    setprop vendor.usb.product_string "Redmi Note 11 Pro 5G"
    setprop ro.boot.product.hardware.sku pn557
    mount none /dev/null /product/etc/priv-app/EuiccGoogle/EuiccGoogle.apk bind

# Redmi Note 11E Pro
on early-init && property:ro.boot.board_id=S88007AA1
    setprop bluetooth.device.default_name "Redmi Note 11E Pro"
    setprop vendor.usb.product_string "Redmi Note 11E Pro"
    setprop ro.boot.product.hardware.sku sn100
    mount none /dev/null /product/etc/priv-app/EuiccGoogle/EuiccGoogle.apk bind

# Redmi Note 11 Pro+ 5G (India)
on early-init && property:ro.boot.board_id=S88007EA1
    setprop bluetooth.device.default_name "Redmi Note 11 Pro+ 5G"
    setprop vendor.usb.product_string "Redmi Note 11 Pro+ 5G"
    mount none /dev/null /product/etc/priv-app/EuiccGoogle/EuiccGoogle.apk bind

# Redmi Note 11 Pro 5G (Japan)
on early-init && property:ro.boot.board_id=S88008BA1
    setprop bluetooth.device.default_name "Redmi Note 11 Pro 5G"
    setprop vendor.usb.product_string "Redmi Note 11 Pro 5G"
    setprop ro.boot.product.hardware.sku sn100
    setprop masterclear.allow_retain_esim_profiles_after_fdr true

# POCO X4 Pro 5G (Global)
on early-init && property:ro.boot.board_id=S88106BA1
    setprop bluetooth.device.default_name "POCO X4 Pro 5G"
    setprop vendor.usb.product_string "POCO X4 Pro 5G"
    setprop ro.boot.product.hardware.sku pn557
    mount none /dev/null /product/etc/priv-app/EuiccGoogle/EuiccGoogle.apk bind

# POCO X4 Pro 5G (India)
on early-init && property:ro.boot.board_id=S88107BA1
    setprop bluetooth.device.default_name "POCO X4 Pro 5G"
    setprop vendor.usb.product_string "POCO X4 Pro 5G"
    mount none /dev/null /product/etc/priv-app/EuiccGoogle/EuiccGoogle.apk bind

on property:ro.boot.product.hardware.sku=pn557
    enable vendor.nfc_hal_service

on property:ro.boot.product.hardware.sku=sn100
    enable vendor.nfc_hal_service
    enable qti_esepowermanager_service_1_1
    enable secureelement-hal_1_2
    
on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 218: msm_drm -> CPU 7
    # IRQ 209: kgsl_3d0_irq -> CPU 6
    write /proc/irq/218/smp_affinity_list 7
    write /proc/irq/209/smp_affinity_list 6
